In [11]:
'''

CINEMAC. 

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

project for the course of Network Analysis - 2022/2023
Realized by.
	Andrea D'Arpa
	Maddalena Ghiotto		
	Chloe Papadopoulou

'''
import os
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
from ast import literal_eval
from listReader import *
!pip install chardet


# creating the tables with pandas to interact with our datasets
# getting the current working directory
cwd = os.getcwd()

name = cwd+'/datasets/name.basics.tsv'
name_table = pd.read_csv(name , sep='\t', header=0)

title = cwd+'/datasets/title.principals.tsv'
title_table = pd.read_csv(title , sep='\t', header=0)

#import titles ds to match the movie-links titles, 
title_name = cwd+'/datasets/title.basics.tsv'
title_name_table= pd.read_csv(title_name, sep='\t', header=0, low_memory=False)

                              
# dtype={'tconst':'int64',	'titleType':'str',	'primaryTitle':'str',	'originalTitle':'str',	'isAdult':'bool',	'startYear':'int64',	'endYear':'int64',	'runtimeMinutes':'int64',	'genres':'str'})


countries = cwd+'/datasets/countries.list.gz'
countries_table = get_movie_countries(countries)
countries_table.to_csv("countries_table.csv")

movies = cwd+'/datasets/movie-links.list.gz'
movies_table = get_movie_links(movies)

'''
testing the tables
'''
# print(movies_table.head(5))
# print(countries_table.head(5))
# print(title_table.head(5))
# print(name_table.head(5))


#merge to include countries:

movies_cit_countries = pd.merge(movies_table, countries_table, on='movie', how='left')

movies_cit_countries=pd.merge(movies_cit_countries, countries_table, left_on="cites", right_on="movie",how="left")

movies_cit_countries.rename(columns={"movie_x":"movie","movie_y":"cited_movies","country_x":"movie_country","country_y":"cites_country"},inplace=True)
movies_cit_countries=movies_cit_countries.reindex(columns= ['movie', 'movie_country', 'cites', 'movie_y','cites_country'])
movies_cit_countries.drop(columns=['movie_y'], inplace=True)
movies_cit_countries.head(30)

# str(len(movies_cit_countries)) + " final, original is " + str(len(movies_table))

#the lengths are different and i don't understand why

Requirement already satisfied: chardet in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (5.1.0)

,movie,movie_country,cites,cites_country
0,#DevinAuditions (2016),Canada,Alien (1979),UK
1,#DevinAuditions (2016),Canada,Alien (1979),USA
2,#DevinAuditions (2016),Canada,Die Hard (1988),USA
3,#DevinAuditions (2016),Canada,Ferris Bueller's Day Off (1986),USA
4,#DevinAuditions (2016),Canada,Fight Club (1999),USA
5,#DevinAuditions (2016),Canada,Fight Club (1999),Germany
6,#DevinAuditions (2016),Canada,Magic Mike (2012),USA
7,#DevinAuditions (2016),Canada,The Gold Rush (1925),USA
8,#DevinAuditions (2016),Canada,The Shining (1980),UK
9,#DevinAuditions (2016),Canada,The Shining (1980),USA
10,#FromJennifer (2017),USA,2 Jennifer (2016),USA
11,#FromJennifer (2017),USA,To Jennifer (2013),USA
12,#Rip (2013),USA,"Love, Simple (2012)",USA
13,#TubeClash02 (2016),Germany,Star Wars (1977),USA
14,#chicagoGirl: The Social Network Takes on a Di...,USA,The Godfather (1972),USA
15,#chicagoGirl: The Social Network Takes on a Di...,Syria,The Godfather (1972),USA
16,#twitterkills (2014),USA,Frankenstein (1910),USA
17,#will (2016),Sweden,Life of Brian (1979),UK
18,#will (2016),Sweden,The Silence of the Lambs (1991),USA
19,$10 Raise (1935),USA,The Ten Dollar Raise (1921),USA
20,"$10,000 Under a Pillow (1921)",USA,Bud Takes the Cake (1920),USA
21,"$10,000 Under a Pillow (1921)",USA,Bud and Susie Join the Tecs (1920),USA
22,"$10,000 Under a Pillow (1921)",USA,Bud and Tommy Take a Day Off (1920),USA
23,"$10,000 Under a Pillow (1921)",USA,By the Sea (1921),USA
24,"$10,000 Under a Pillow (1921)",USA,Circumstantial Evidence (1921),USA
25,"$10,000 Under a Pillow (1921)",USA,Down the Mississippi (1920),USA
26,"$10,000 Under a Pillow (1921)",USA,Fifty-Fifty (1920),USA
27,"$10,000 Under a Pillow (1921)",USA,Getting Theirs (1921),USA
28,"$10,000 Under a Pillow (1921)",USA,Handy Mandy's Goat (1920),USA
29,"$10,000 Under a Pillow (1921)",USA,Ma's Wipe Your Feet Campaign (1921),USA

In [12]:
#retrieve information for movies collaborators. **not currently working**

#how to match

#append the movie title to the tconst ones.
#split the movie column in the first dataframe to separate title from year
#match both movie title (that is ***included*** in the imdb, so not an exact match) and year with startYear

#replace /n for nan values
title_name_table = title_name_table.replace("\\N", np.nan)


movies_cit_countries[['title','year']] = movies_cit_countries.movie.str.split("\(", 1, expand=True)
movies_cit_countries['year']=movies_cit_countries['year'].str.replace(')','')  

movies_cit_countries[['primaryTitle_citation','year_citation']] = movies_cit_countries.cites.str.split("\(", 1, expand=True)
movies_cit_countries['year_citation']=movies_cit_countries['year_citation'].str.replace(')','')

/var/folders/pj/l5qqsfqd5vl40d1pyd1pzykw0000gn/T/ipykernel_1077/1921040722.py:15: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies_cit_countries['year']=movies_cit_countries['year'].str.replace(')','')
/var/folders/pj/l5qqsfqd5vl40d1pyd1pzykw0000gn/T/ipykernel_1077/1921040722.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies_cit_countries['year_citation']=movies_cit_countries['year_citation'].str.replace(')','')

In [14]:
#******TROUBLESHOOTING missing values on merge ********

#encoding is same in both, utf-8 - check
#replaced /n for nan values before

In [51]:
#make sure formats are the same
#assign best datatypes

movies_cit_countries=movies_cit_countries.convert_dtypes()
title_name_table=title_name_table.convert_dtypes()

#they all turn out as str- keeping it for convenience

#remove useless whitespaces
title_name_table['primaryTitle'] = title_name_table['primaryTitle'].str.strip()
title_name_table['originalTitle'] = title_name_table['originalTitle'].str.strip()

title_name_table['primaryTitle'] = title_name_table['primaryTitle'].str.strip()
title_name_table['originalTitle'] = title_name_table['originalTitle'].str.strip()



#remove duplicates by filtering by type. not very helpful cause it ignores shorts and documentaries but just to check.

title_name_table = title_name_table[title_name_table['titleType'] == 'movie']

title_name_table[title_name_table['primaryTitle'] == 'Fight Club'].values

array([['tt0137523', 'movie', 'Fight Club', 'Fight Club', '0', '1999',
        <NA>, '139', 'Drama']], dtype=object)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,<NA>,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,<NA>,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,<NA>,100,<NA>
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,<NA>,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,<NA>,90,Drama
...,...,...,...,...,...,...,...,...,...
1761,tt0001778,movie,Menneskedyret,Menneskedyret,0,1911,<NA>,<NA>,<NA>
1763,tt0001780,movie,Midsummer Tide,Midsummer Tide,0,1911,<NA>,<NA>,<NA>
1768,tt0001785,movie,The Miner's Curse,The Miner's Curse,0,1911,<NA>,<NA>,Drama
1773,tt0001790,movie,"Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,0,1913,<NA>,60,Drama
1785,tt0001803,movie,The Mystery of a Hansom Cab,The Mystery of a Hansom Cab,0,1911,<NA>,<NA>,<NA>

In [68]:
#remove duplicates (not ideal for us but just in case)

movies_cit_countries.drop_duplicates(subset=["primaryTitle_citation", "year_citation"], inplace=True)
title_name_table.drop_duplicates(subset=["primaryTitle","startYear"], inplace=True)


#check duplicates
movies_cit_countries['primaryTitle_citation'].duplicated().any()

title_name_table['primaryTitle'].duplicated().any()

    
final_df = pd.merge(movies_cit_countries, title_name_table,
                     how="left",
                     left_on=['primaryTitle_citation', 'year_citation'],
                     right_on=['primaryTitle','startYear'])
# final_df = title_name_table.set_index('primaryTitle').join(movies_cit_countries, how='right', lsuffix='', rsuffix='_citation', sort=False)

                                  


                            
# final_df.isnull().sum()
final_df

,movie,movie_country,cites,cites_country,title,year,primaryTitle_citation,year_citation,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,#DevinAuditions (2016),Canada,Alien (1979),UK,#DevinAuditions,2016,Alien,1979,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,#DevinAuditions (2016),Canada,Die Hard (1988),USA,#DevinAuditions,2016,Die Hard,1988,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,#DevinAuditions (2016),Canada,Ferris Bueller's Day Off (1986),USA,#DevinAuditions,2016,Ferris Bueller's Day Off,1986,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,#DevinAuditions (2016),Canada,Fight Club (1999),USA,#DevinAuditions,2016,Fight Club,1999,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,#DevinAuditions (2016),Canada,Magic Mike (2012),USA,#DevinAuditions,2016,Magic Mike,2012,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41569,Üvegtigris 2. (2006),Hungary,Üvegtigris (2001),Hungary,Üvegtigris 2.,2006,Üvegtigris,2001,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
41570,Üvegtigris 3. (2010),Hungary,Üvegtigris 2. (2006),Hungary,Üvegtigris 3.,2010,Üvegtigris 2.,2006,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
41571,Þrestir (2015),Iceland,Smáfuglar (2008),Iceland,Þrestir,2015,Smáfuglar,2008,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
41572,è solo questione di punti di vista (2012),Italy,Letto a tre piazze (1960),Italy,è solo questione di punti di vista,2012,Letto a tre piazze,1960,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
41573,è solo questione di tempo (2013),Italy,Il successo (1963),Italy,è solo questione di tempo,2013,Il successo,1963,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>